.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #100f0f;
  color: white;
  padding: 1rem 2rem;
}
.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}
.nav-links a { color: white; text-decoration: none; }
